<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<meta name="generator" content="eleventy">
<meta name="format-detection" content="telephone=no">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<title>
    {{ site.title }} | {% if title %}{{ title }}{% endif %}
</title>

<link rel="apple-touch-icon" href="/static/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/favicons/favicon-96x96.png">

<meta property="og:url" content="{{ site.url}}{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
{% if site.meta_data.default_social_image or featured_image %}
    <meta property="og:image" content="{% if site.env == 'production' %}{{ site.url }}{% endif %}{% if featured_image  %}{{ featured_image }}{% else %}{{ site.meta_data.opengraph_default }}{% endif %}"/>
{% endif %}
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}"/>
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="{{ site.author }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.meta_data.twitter }}">
<meta name="twitter:creator" content="{{ site.meta_data.twitter }}">

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>