<div id="home-hero" class="py-4">
  <div class="flex container place-content-center md:place-content-between">
    <div class="relative inline-block">
      <video id="intro" class="w-72 border-4 border-oxley-600 rounded-full shadow-lg">
        <source src="/static/video/intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <button id="play-pause" class="absolute right-0 bottom-0 flex justify-center items-center rounded-full bg-white border-2 border-oxley-500 p-2 w-16 h-16">
        <span class="sr-only">play</span>
        <svg id="playIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
          <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
        </svg>
        <svg id="pauseIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8 hidden">
          <path fill-rule="evenodd" d="M6.75 5.25a.75.75 0 0 1 .75-.75H9a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H7.5a.75.75 0 0 1-.75-.75V5.25Zm7.5 0A.75.75 0 0 1 15 4.5h1.5a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H15a.75.75 0 0 1-.75-.75V5.25Z" clip-rule="evenodd" />
        </svg>          
      </button>
    </div>
  </div> <!-- container -->
</div>