<div x-show="modalOpen" class="fixed inset-0 z-50 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-center justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0">
    <div x-cloak @click="modalOpen = false" x-show="modalOpen" 
        x-transition:enter="transition ease-out duration-300 transform"
        x-transition:enter-start="opacity-0" 
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-200 transform"
        x-transition:leave-start="opacity-100" 
        x-transition:leave-end="opacity-0"
        class="fixed inset-0 transition-opacity bg-slate-600/60" aria-hidden="true"
    ></div>

    <div x-cloak x-show="modalOpen" 
        x-transition:enter="transition ease-out duration-300 transform"
        x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" 
        x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
        x-transition:leave="transition ease-in duration-200 transform"
        x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100" 
        x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        class="inline-block w-full max-w-xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl"
    >
      <div class="flex items-center justify-between space-x-4">
          <h1 class="text-xl font-medium text-gray-800 ">
            <div x-show="modalMember == 'heather'">
              <p>Heather Hallam-Helbich</p>
              <span class="text-sm font-normal text-gray-500">Clinical Director, C. Psych. CTS</span>
            </div>
            <div x-show="modalMember == 'carl'">
              <p>Carl Helbich, MMI</p>
              <span class="text-sm font-normal text-gray-500">Administrative Director</span>
            </div>
            <div x-show="modalMember == 'amy'">
              <p>Amy Wilson</p>
              <span class="text-sm font-normal text-gray-500">Clinic Manager</span>
            </div>
            <div x-show="modalMember == 'samantha'">
              <p>Samantha McKinley, MSW</p>
              <span class="text-sm font-normal text-gray-500">Registered Social Worker</span>
            </div>
            <div x-show="modalMember == 'kathy'">
              <p>Kathy Morneau, MSW</p>
              <span class="text-sm font-normal text-gray-500">Registered Social Worker</span>
            </div>
            <div x-show="modalMember == 'kimberly'">
              <p>Kimberly Court, MSW</p>
              <span class="text-sm font-normal text-gray-500">Registered Social Worker</span>
            </div>
            <div x-show="modalMember == 'ashley'">
              <p>Ashley Laporte</p>
              <span class="text-sm font-normal text-gray-500">Psychometrist</span>
            </div>
            <div x-show="modalMember == 'elizabeth'">
              <p>Elizabeth Allevato</p>
              <span class="text-sm font-normal text-gray-500">Registered Psychologist</span>
            </div>
            <div x-show="modalMember == 'stephanie'">
              <p>Stephanie Tellier</p>
              <span class="text-sm font-normal text-gray-500">Registered Psychotherapist</span>
            </div>
            <div x-show="modalMember == 'kathryn'">
              <p>Kathryn Irabelli, MSW</p>
              <span class="text-sm font-normal text-gray-500">Registered Social Worker</span>
            </div>
            <div x-show="modalMember == 'doris'">
              <p>Doris Weber</p>
              <span class="text-sm font-normal text-gray-500">Psychometrist</span>
            </div>
            <div x-show="modalMember == 'rob'">
              <p>Rob Kapetanov</p>
              <span class="text-sm font-normal text-gray-500">Psychometrist</span>
            </div>
            <div x-show="modalMember == 'levi'">
              <p>Levi Rogers, MSW</p>
              <span class="text-sm font-normal text-gray-500">Registered Social Worker</span>
            </div>
            <div x-show="modalMember == 'maggie'">
              <p>Maggie Davey</p>
              <span class="text-sm font-normal text-gray-500">Administrator</span>
            </div>
            <div x-show="modalMember == 'irene'">
              <p>Irene Schiller</p>
              <span class="text-sm font-normal text-gray-500">Administrator</span>
            </div>
            <div x-show="modalMember == 'amy-tran'">
              <p>Dr. Amy Tran</p>
              <span class="text-sm font-normal text-gray-500"> Registered Psychologist (Supervised Practice)</span>
            </div>
          </h1>

          <button @click="modalOpen = false" class="text-gray-600 focus:outline-none hover:text-gray-700">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
          </button>
      </div>

      {% include 'modal-copy.njk' %}
      
    </div>
  </div>
</div>