<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        {% include "head.njk" %}
        {% if site.env %}
            <link rel="stylesheet" href="{{ site.baseurl }}/static/build/styles.min.css">
        {% else %}
            <link rel="stylesheet" href="/static/build/styles.min.css">
        {% endif %}

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
        <noscript>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet" type="text/css"/>
        </noscript>
    </head>
    <body x-data="{ navActive: false, modalOpen: false }">
        <a href="#main" class="skip-link">Skip to main content</a>
        {% include "header.njk" %}
        {{ content | safe }}
        {% include "footer.njk" %}
    </body>
    <script src="/static/build/scripts.min.js" defer></script>
    <script>
        const currentPath = window.location.pathname.replace(/\/+$/, "")
        const navLinks = document.querySelectorAll("#desktop-nav a")

        navLinks.forEach(link => {
            const linkPath = new URL(link.href).pathname.replace(/\/+$/, "")

            if (linkPath === currentPath) {
            link.classList.add("bg-oxley-700")
            }
        });
    </script>
</html>