@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@source '../../../**/*.js';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  --font-*: initial;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Gelasio", sans-serif;

  --color-oxley-50: oklch(97.9% 0.021 163.68);
  --color-oxley-100: oklch(96.036% 0.03835 160.62);
  --color-oxley-200: oklch(92.572% 0.06569 161.72);
  --color-oxley-300: oklch(87.609% 0.10204 162.55);
  --color-oxley-400: oklch(80.645% 0.12238 160.79);
  --color-oxley-500: oklch(74.781% 0.10173 160.05);
  --color-oxley-600: oklch(65.817% 0.06307 160.8);
  --color-oxley-700: oklch(55.463% 0.05655 163.18);
  --color-oxley-800: oklch(46.309% 0.05404 164.48);
  --color-oxley-900: oklch(39.354% 0.05652 166.51);
  --color-oxley-950: oklch(26.2% 0.051 170.12);

  --color-ochre-50: oklch(98.7% 0.026 102.21);
  --color-ochre-100: oklch(97.802% 0.06707 102.52);
  --color-ochre-200: oklch(95.272% 0.12045 100.26);
  --color-ochre-300: oklch(91.873% 0.15873 95.486);
  --color-ochre-400: oklch(87.839% 0.18264 88.521);
  --color-ochre-500: oklch(83.717% 0.16643 81.398);
  --color-ochre-600: oklch(73.16% 0.14091 77.235);
  --color-ochre-700: oklch(59.195% 0.11919 67.843);
  --color-ochre-800: oklch(50.13% 0.10346 63.308);
  --color-ochre-900: oklch(43.365% 0.08973 59.109);
  --color-ochre-950: oklch(28.6% 0.066 55.214);

  --color-maroon-50: oklch(97.1% 0.013 14.988);
  --color-maroon-100: oklch(94.265% 0.03262 15.325);
  --color-maroon-200: oklch(89.831% 0.06325 15.942);
  --color-maroon-300: oklch(82.796% 0.11587 17.179);
  --color-maroon-400: oklch(73.062% 0.19349 19.824);
  --color-maroon-500: oklch(67.027% 0.24012 22.939);
  --color-maroon-600: oklch(61.693% 0.24874 24.933);
  --color-maroon-700: oklch(55.158% 0.21736 25.126);
  --color-maroon-800: oklch(49.724% 0.18199 24.507);
  --color-maroon-900: oklch(42.262% 0.14349 23.331);
  --color-maroon-950: oklch(25.8% 0.092 23.65);

  --color-footer-bg: #67675D;
}

body {
  @apply antialiased text-base leading-normal text-oxley-800 tracking-tight;
}

.container {
  @apply mx-auto px-4;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-serif font-medium;
}

input[type='text'],
input[type='email'],
input[type='phone'],
textarea {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none bg-white;
}

input[type='checkbox'] {
  @apply shadow border rounded bg-white;
}

.field {
  @apply block mb-4;
}

.field > label {
  @apply block text-gray-500 text-sm font-bold mb-2;
}

.field.multi-checkbox > div > label {
  @apply mb-2;
}

/* footer nav */

footer nav ul li a {
  @apply p-2 rounded-md transition hover:bg-ochre-600;
}

footer nav ul li a:before {
  @apply content-[''] bg-[url(/static/img/icon-mono.svg)] bg-no-repeat bg-center bg-contain inline-block w-6 h-6 mr-4 opacity-50;
}

footer address a {
  @apply text-ochre-200;
}

/* accessibility */

.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  top: 1rem;
  left: 1rem;
  z-index: 999;
}

.skip-link:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  width: auto;
  @apply bg-blue-500 p-3 text-white;
}

/* hero images */

#home-hero {
  @apply bg-[url('/static/img/home-blur.jpg')] bg-cover bg-center md:bg-[url('/static/img/home.jpg')] bg-no-repeat;
}

/* page headers */

#services h3,
#contact h3 {
  @apply text-oxley-700 text-2xl font-serif font-medium mb-4;
}

/* services */

.service-list li {
  @apply mb-1;
}

.service-list {
  @apply font-serif italic mb-6 text-ochre-600;
}

.service-list li {
  @apply inline after:content-['•'] after:inline after:text-oxley-500 after:mx-2 text-lg last:after:content-[''];
}

/* team */

.team-member {
  @apply relative mb-4;
}

.team-member img {
  @apply block mx-auto;
}

.team-member h3 {
  @apply bg-ochre-600 text-white text-xl text-center py-2 mb-4;
}

.team-member h3 span {
  @apply block;
}

.team-member button {
  @apply bg-oxley-300 py-2 px-4 rounded-md text-sm hover:bg-oxley-400 mt-4 mx-auto;
}

/* modals */

dialog::backdrop {
  transition: background-color 300ms ease;
}
dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

dialog.fade-in {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms ease, transform 300ms ease;
}
dialog[open].fade-in {
  opacity: 1;
  transform: scale(1);
}

/* home services */

#home-services ul {
  @apply before:content-[''] before:bg-[url('/static/img/icon-small.svg')] before:absolute before:top-0 before:right-0 before:w-14 before:h-14 before:rounded-full before:bg-white before:border-4;
}

#home-services ul.counselling {
  @apply before:border-slate-400 before:bg-[50%_50%];
}

#home-services ul.life-skills {
  @apply before:border-oxley-400;
}

#home-services ul.psyche-assessments {
  @apply before:border-ochre-500;
}

#home-services ul li {
  @apply mb-1;
}
