---
layout: base.njk
title: About
permalink: /about/
description: Eleventy Web Starter is a lightweight Eleventy boilerplate utilising esbuild, Tailwind CSS and Post CSS
---

<main id="main" class="bg-ochre-50 pb-8">
  
  <div class="bg-[url('/static/img/about.jpg')] bg-cover bg-center h-52 md:h-72 lg:h-120 mb-8 border-b-8 border-footer-bg/75">
  </div>

  <div class="container">

    <div class="md:flex justify-between items-center gap-8 mb-8">
      <div class="hidden md:block">
        <img src="/static/img/icon.svg" alt="Cornerstone Logo" class="w-64" />
      </div>
      <p class="font-serif italic text-2xl text-oxley-600">Providing adults & children with fast access to Counselling and Psychological Services in a warm, supportive, and confidential environment.</p>
    </div>

    <p class="mb-6"><strong>Cornerstone Family Care</strong> was built to eliminate the difficulties people face in accessing supportive services in the Windsor-Essex County Region. Our clinical model, which includes a broad range of counselling and support services, addresses three major needs:</p>
    
    <ul id="about-bullet-list" class="mb-6 font-serif text-lg md:mr-32">
      <li class="mb-2">Prompt telephone consultation</li>
      <li class="mb-2">Fast access to counselling appointments with short or no wait times</li>
      <li class="mb-2">A large group of experienced practitioners qualified to support almost any mental health need</li>
    </ul>

    <p class="mb-4">Cornerstone combines the elements of a comfortable atmosphere, efficient administrative services, and an experienced team of practitioners who are readily available to assist you and/or your family through the challenging issues you may be experiencing.</p>

    <p class="mb-8">We welcome your telephone inquiries and future visits. Call us today to learn how we can help.</p>
  
    {% include "cta.njk" %}

  </div> <!-- container -->

</main>