---
layout: base.njk
title: Contact Us
permalink: /contact/
description: Eleventy Web Starter is a lightweight Eleventy boilerplate utilising esbuild, Tailwind CSS and Post CSS
---

<main id="contact" role="main">
  
  <div class="container pt-6">

    <div class="grid md:grid-cols-2 md:mb-12">

      <div>
        <h3>Contact Us</h3>

        <address class="mb-4">
          350 Devonshire Rd.<br />
          Windsor, ON N8Y 2L4
        </address>

        <address class="mb-4">
          <strong>P:</strong> <a href="tel:5192530333">519.253.0333</a><br />
          <strong>F:</strong> 519.253.0332<br />
          <strong>E:</strong> <a href="mailto:adool@cornerstonecare.ca">adool@cornerstonecare.ca</a>
        </address>

        <h3>Hours</h3>

        <div class="grid grid-cols-2 gap-x-4 mb-4">
          <small>Monday</small> <small>10am - 8pm</small>
          <small>Tuesday</small> <small>10am - 8pm</small>
          <small>Wednesday</small> <small>10am - 8pm</small>
          <small>Thursday</small> <small>10am - 8pm</small>
          <small>Friday</small> <small>10am - 5:30pm</small>
          <small>Saturday</small> <small>Closed</small>
          <small>Sunday</small> <small>Closed</small>
        </div>
      </div>

      <div>
        <iframe class="actAsDiv" style="width:100%;height:100%;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;q=350%20Devonshire%20Rd%2C%20Windsor%2C%20ON%20N8Y%202L4&amp;aq=0&amp;ie=UTF8&amp;t=m&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
      </div>
    
    </div>

    <div class="grid grid-cols-10 md:gap-8 md:mb-12">

      <div class="grid col-span-10 md:col-span-5 mb-6 place-items-center">
        <img src="/static/img/building-crop-u5829.png" alt="Cornerstone Family Care" class="w-full" />
      </div>

      <div class="col-span-10 md:col-span-5">
        <h3>Location History</h3>

        <p class="mb-4">With the completion of St. Mary’s Church seven blocks to the south, the original church (c. 1870) was demolished. From its stone foundation, opposite the office building, rose the new Town Hall in 1904, designed by the now-independent Albert Kahn. Ironically, the Town Hall was supposed to have been built on Devonshire Road, where it stands today, but the availability of an existing foundation offered an opportunity too good for the Walker Sons to overlook.</p>
          
        <p class="mb-4">Construction of the new public building (at a cost of $15,000) was in the hands of Victor Williamson. Ninety years later, with a corporate plan to reduce its heavily taxed physical plant, Hiram Walker & Sons, Ltd. decided to raze the former Town Hall (also known as the Barclay Building), along with the malthouse and the Walker Stores building. A determined group of volunteers quickly formed the Preserve Old Walkerville committee to try to save the Town Hall. Within a year sufficient funds had been raised to have it moved. Today, thanks to an imaginative and enterprising businessman who purchased it, the Town Hall has been restored and renovated.</p>

        <p class="mb-4">The Preserve Old Walkerville committee is now the Architectural Conservancy of Ontario - Windsor Region Branch. The former Town Hall’s design is Classical Revival in concept (symmetrical, belt courses, angled quoins and burst pediment) with windows more closely associated with Arts & Crafts styling. The dark tile roof and low-arched dormers were specified by Kahn, but the roof-top cupola and rear stairwell are modern embellishments.</p>
      </div>
    
    </div> <!-- container -->

</main>