---
layout: base.njk
title: Home
description: Eleventy Web Starter is a lightweight Eleventy boilerplate utilising esbuild, Tailwind CSS and Post CSS
---

<main id="main">
  
  <div>
    {% include "home-video.njk" %}
  </div>

  <div class="bg-gradient-to-b from-ochre-600 to-ochre-700">
    <div class="container py-4 text-white font-serif font-medium">
      <p class="text-center md:text-lg lg:text-xl text-shadow-sm">Welcome to Cornerstone Family Care, a new concept in providing clients with the support they need within a warm and confidential environment.</p>
    </div>
  </div>

  <div class="container py-8">

    <div class="md:grid md:grid-cols-2 gap-8">

      <aside id="home-services">
        <div class="relative mb-8">
          <h3 class="text-xl border-b-4 border-slate-400">Counselling</h3>
          <ul class="home-service-list counselling mr-6 bg-ochre-50 p-4">
            <li>Children and Adolescents</li>
            <li>Family</li>
            <li>Adult Individual Therapy</li>
            <li>Marriage/Couples Counselling</li>
            <li>Bereavement</li>
            <li>Trauma</li>
            <li>Substance Abuse & Gambling Issues</li>
            <li>Sexuality/Gender Issues</li>
          </ul>
        </div>
        <div class="relative mb-8">
          <h3 class="text-xl border-b-4 border-oxley-400">Life Skills</h3>
          <ul class="home-service-list life-skills mr-6 bg-ochre-50 p-4">
            <li>Anger Management</li>
            <li>Parenting</li>
            <li>Behaviour Management</li>
            <li>Coping with chronic pain/illness</li>
          </ul>
        </div>
        <div class="relative mb-8">
          <h3 class="text-xl border-b-4 border-ochre-500">Psychological Assessments</h3>
          <ul class="home-service-list psyche-assessments mr-6 bg-ochre-50 p-4">
            <li>Learning Disabilities</li>
            <li>Developmental Disabilities</li>
            <li>Behavioral Disorders</li>
            <li>Emotional/Mood Disorders</li>
            <li>Autism Spectrum Disorders</li>
            <li>Attention Deficit Disorders (ADHD)</li>
          </ul>
        </div>
      </aside>

      <article>
        <div class="bg-oxley-600 text-white p-2">
          <h2 class="text-xl">Contact us today!</h2>
        </div>
        {% include "form.njk" %}
      </article>

    </div>

  </div> <!-- container -->

</main>