---
layout: base.njk
title: Home
description: Eleventy Web Starter is a lightweight Eleventy boilerplate utilising esbuild, Tailwind CSS and Post CSS
---

<main id="main">
  
  <div>
    {% include "home-video.njk" %}
  </div>

  <div class="bg-gradient-to-b from-ochre-600 to-ochre-700">
    <div class="container py-4 text-white font-serif font-medium">
      <div class="md:hidden text-center">
        <p class="text-lg font-bold text-ochre-50">Windsor's Largest<br />Mental Health Clinic</p>
        <hr class="border-ochre-600 my-2" />
        <p class="font-bold italic mb-4 text-lg">Fast Access to Appointments for Therapy & Psych Assessments</p>
        <a href="tel:+15192530333" class="relative flex justify-center items-center bg-oxley-600 p-2 text-lg font-bold rounded-full border border-oxley-700 max-w-50 mx-auto shadow-lg">
          <span class="absolute left-0 bg-oxley-700 rounded-full p-2 ml-1.25 mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
            </svg>
          </span>
          <span>Call Now</span>
        </a>
      </div>
      <div class="hidden md:block">
        <p class="text-center text-lg lg:text-xl text-shadow-sm">Welcome to Cornerstone Family Care, a new concept in providing clients with the support they need within a warm and confidential environment.</p>
      </div>
    </div>
  </div>

  <div class="container py-8">

    <div class="md:grid md:grid-cols-2 gap-8">

      <aside id="home-services">
        <div class="relative mb-8">
          <h3 class="text-xl border-b-4 border-slate-400">Counselling</h3>
          <ul class="home-service-list counselling mr-6 bg-ochre-50 p-4">
            <li>Children and Adolescents</li>
            <li>Family</li>
            <li>Adult Individual Therapy</li>
            <li>Marriage/Couples Counselling</li>
            <li>Bereavement</li>
            <li>Trauma</li>
            <li>Substance Abuse & Gambling Issues</li>
            <li>Sexuality/Gender Issues</li>
          </ul>
        </div>
        <div class="relative mb-8">
          <h3 class="text-xl border-b-4 border-oxley-400">Life Skills</h3>
          <ul class="home-service-list life-skills mr-6 bg-ochre-50 p-4">
            <li>Anger Management</li>
            <li>Parenting</li>
            <li>Behaviour Management</li>
            <li>Coping with chronic pain/illness</li>
          </ul>
        </div>
        <div class="relative mb-8">
          <h3 class="text-xl border-b-4 border-ochre-500">Psychological Assessments</h3>
          <ul class="home-service-list psyche-assessments mr-6 bg-ochre-50 p-4">
            <li>Learning Disabilities</li>
            <li>Developmental Disabilities</li>
            <li>Behavioral Disorders</li>
            <li>Emotional/Mood Disorders</li>
            <li>Autism Spectrum Disorders</li>
            <li>Attention Deficit Disorders (ADHD)</li>
          </ul>
        </div>
      </aside>

      <article>
        <div class="bg-oxley-600 text-white p-2">
          <h2 class="text-xl">Contact us today!</h2>
        </div>
        {% include "form.njk" %}
      </article>

    </div>

  </div> <!-- container -->

</main>